# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python virtual environment files
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# Spyder
.spyderproject
.spyproject

# Data / model / temp files
*.csv
*.dat
*.tsv
*.tmp
*.log
*.model
*.h5
*.pkl
*.joblib

# Backup files
*~
*.bak
*.swp
